#useDynLib(MXM, .registration = TRUE)

importFrom("rangen", Sample.int)
importFrom("Rfast", rowsums, mahala)
importFrom("stats", var, cov)

importFrom("grDevices", colorRampPalette)
importFrom("graphics", axis, contour, filled.contour, par, points, text,
           legend, lines, segments)
importFrom("stats", "model.matrix")

exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
